<section class="extended home-section prozess_phase" id="prozess_phasen">
  <div class="row">
    <nav id="prozess_phasen_nav" role="navigation">
    <h2>
      ABLAUF<br>
      <span class="subtitle">REDEN SIE MIT</span>
    </h2>
    <ol class="prozess_phasen">
      <li class="prozess_phasen_list">
        <a href="/pages/auftaktveranstaltung" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_1.png", role:"presentation", alt: "Prozess phase 1") %>
        </a>
        <div class="prozess_step">1.</div>
        <div class="prozess_info">
          <a href="/pages/auftaktveranstaltung">
          <h3>Auftaktveranstaltung und Präsentation</h3>
          der wissenschaftlich erarbeiteten Handlungsempfehlungen
          </a>
        </div>
        <div class="prozess_date">
          <span class="strong"><time>07.04 2022</time></span><br>
          von <time>16.00</time> bis <time>18.00</time>
        </div>
      </li>
      <li class="prozess_phasen_list">
        <a href="/pages/onlinediskussion" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_2.png", role:"presentation", alt: "Process phase 2") %>
        </a>
        <div class="prozess_step">2.</div>
        <div class="prozess_info">
          <a href="/pages/onlinediskussion">
          <h3>Online-Diskussion</h3>
          der Handlungsempfehlungen
          </a>
        </div>
        <div class="prozess_date">
          von <time>07.04 2022</time> bis <time>07.05 2022</time>
        </div>
      </li>
      <li class="prozess_phasen_list">
        <a href="/pages/ranking" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_3.png", role:"presentation", alt: "process phase 3") %>
        </a>
        <div class="prozess_step">3.</div>
        <div class="prozess_info">
          <a href="/pages/ranking">
          <h3>Bewertung und Priorisierung</h3>
          der Handlungsempfehlungen
          </a>
        </div>
        <div class="prozess_date">
          von <time>07.05 2022</time> bis <time>07.07 2022</time>
        </div>
      </li>
      <li class="prozess_phasen_list">
        <a href="/pages/abschluss" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_4.png", role:"presentation", alt: "process phase 4") %>
        </a>
        <div class="prozess_step">4.</div>
        <div class="prozess_info">
          <a href="/pages/abschluss">
          <h3>Videokonferenz mit Präsentation</h3>
          Abschlussbericht über die finalen zivilgesellschaftlichen Empfehlungen.
          </a>
        </div>
        <div class="prozess_date">
         <span class="strong"><time>07.07 2022</time></span><br>
          von <time>16.00</time> bis <time>18.00</time>
        </div>
      </li>
    </ol>
  </nav>
  </div>
</section>
<%
unless html_content.to_s.strip.empty?
%>
<section class="extended home-section" id="html-block">
  <div class="home_htmlcontent">
    <%= html_content %>
  </div>
</section>
<%
end
%>