<section class="extended home-section prozess_phase" id="prozess_phasen">
  <div class="row">
    <nav id="prozess_phasen_nav" role="navigation">
    <h2>ABLAUF</h2>
    <span class="subtitle">REDEN SIE MIT!</span>
    <ol class="prozess_phasen">
      <li class="prozess_phasen_list">
        <a href="/pages/auftaktveranstaltung" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_1.png", role:"presentation", alt: "1. Auftaktveranstaltung") %>
        <div class="prozess_step">1.</div>
        <div class="prozess_info">
          <span class="title">Auftaktveranstaltung</span>
        </div>
        </a>
      </li>
      <li class="prozess_phasen_list">
        <a href="/pages/onlinediskussion" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_2.png", role:"presentation", alt: "2. Online-Diskussion") %>
        <div class="prozess_step">2.</div>
        <div class="prozess_info">
          <span class="title">Online-Diskussion</span>
        </div>
        </a>
      </li>
      <li class="prozess_phasen_list">
        <a href="/pages/ranking" aria-hidden="true">
        <%= image_pack_tag("media/images/icon_process_step_3.png", role:"presentation", alt: "3. Ranking") %>
        <div class="prozess_step">3.</div>
        <div class="prozess_info">
          <span class="title">Ranking</span>
        </div>
        </a>
      </li>
      <li class="prozess_phasen_list">
        <a href="/pages/abschluss">
        <%= image_pack_tag("media/images/icon_process_step_4.png", role:"presentation", alt: "4. Abschlusskonferenz und Abschlussbericht") %>   
        <div class="prozess_step">4.</div>
        <div class="prozess_info">
          <span class="title">Abschlusskonferenz und Abschlussbericht</span>
        </div>
        </a>
      </li>
    </ol>
  </nav>
  </div>
</section>
<%
unless html_content.to_s.strip.empty?
%>
<section class="extended home-section" id="html-block">
  <div class="home_htmlcontent">
    <%= html_content %>
  </div>
</section>
<%
end
%>